body{
    margin:0;
    text-align: center;
    font-size: 16px;
    font-family: '微软雅黑';
    color:#333;
}
ul{
    padding:0;
    list-style: none;
}
.content-box .content-item{
   margin-left:120px;
    overflow: hidden;
    height: 500px;
    display: none;
    padding-top: 20px;
    background:#f0f0f0;
}

.m-nav{
    float:left;
    width:100px;
    margin-top:20px;
    padding-left:10px;
}
.m-nav .nav-item a{
    display: block;
    margin-bottom:20px;
    padding:10px;
    text-decoration: none;
    color:#333;
    background-color:#ddd;
}
.title{
        border-bottom: 2px solid #c20c0c;
}